.ngx-mat-drp-date-label {
    background: #fafafa;
    margin: 15px;
    padding: 4px 2px 4px 2px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.ngx-mat-drp-selected-date-label {
    color: rgba(0,0,0,.38);
    padding-left: 5%;
}

/* .mat-calendar {
    width: 296px;
    height: 354px;
} */
