.ngx-mat-drp-calendar-container {
    display: flex;
    justify-content: space-around;
}

.ngx-mat-drp-calendar-item {
    flex-basis: 33.33%;
    min-width: 210px;
    padding: 1em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.ngx-mat-drp-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ngx-mat-drp-controls {
    display: flex;
    justify-content: space-around;
    margin: 10% auto;
}

.ngx-mat-drp-overlay {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background: white;
    border-radius: 2px;
}

.ngx-mat-drp-overlay-backdrop {
    background-color: rgba(0,0,0,.2);
    opacity: 0.2;
}
